{
  "plugins": [
    "@babel/plugin-transform-runtime"
  ],
  "presets" : [
    ["@babel/preset-env", {
      "targets": {
        "node": "12"
      }
    }]
  ],
  "env": {
    "commonjs": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "12"
          },
          "modules": "commonjs"
        }]
      ]
    }
  }
}
